body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}


.cell-status-normal {
  background-color: #85cc00;
  transition: all .5s ease-out;
}

.cell-status-caution {
  background-color: #ffbf00;
  transition: all .5s ease-out;
}

.cell-status-warning {
  background-color: rgba(255, 35, 0, 0.8);
  animation: warning-pulse 2s alternate;
  animation-iteration-count: 5;
}

@keyframes warning-pulse {
  0% {
    background-color: rgba(255, 35, 0, 0.2);
  }

  100% {
    background-color: rgba(255, 35, 0, 0.8);
  }
}

.icons-in-td {
  float: right;
  display: inline-block;
}

.icons-in-td .material-icons {
  font-size: 1em;
}

