# Edit this file to introduce tasks to be run by cron.
 
# m h  dom mon dow   command
0 22 * * * ~/bin/cloud-status/check-all-envs-from-all-projs.sh > ~/cloud-status-reports/check-env-results.txt

20 22 * * * ~/bin/cloud-status/find-projs-by-host.sh > ~/cloud-status-reports/projs-grouped-by-host.txt

20 22 * * * ~/bin/cloud-status/create-cpu-usage-by-env-table.pl ~/cloud-status-reports/check-env-results.txt > ~/cloud-status-reports/cpu-usage-by-env.txt

# check for expiring certs every other sunday
30 22 1-7,15-21,29-31 * * [ `date +\%u` = 0 ] && ~/bin/cloud-status/report-expiring-soon.sh

# check the http status daily
45 22 * * * ~/bin/cloud-status/report-http-status.sh

# check overloaded hosts every 4 hrs 8a-8p ET
55 10,8,12,16,20 * * * ~/bin/cloud-status/report-overloaded-host-loadavg.sh
