body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  overflow: hidden;
}

a {
  text-decoration: none;
}


.cell-status-normal {
  background-color: #85cc00;
  transition: all .5s ease-out;
}

.cell-status-caution {
  background-color: #ffbf00;
  transition: all .5s ease-out;
}

.cell-status-warning {
  background-color: rgba(255, 35, 0, 0.8);
  animation: warning-pulse 2s alternate;
  animation-iteration-count: 5;
}

@keyframes warning-pulse {
  0% {
    background-color: rgba(255, 35, 0, 0.2);
  }

  100% {
    background-color: rgba(255, 35, 0, 0.8);
  }
}

.right {
  text-align: right;
  justify-content: flex-end;
}

/* .icons-in-td {
  float: right;
  display: inline-block;
} */

/* ReactTable related */

.ReactTable .material-icons {
  font-size: 1em;
}

.ReactTable .-filters .adjacent-to-checkbox-column .material-icons {
  font-size: 0.8em;
}

.-filters .adjacent-to-checkbox-column {
  left: -30px;
}
.checkbox-selection-to-clipboard-button {
  margin-right: 10px;
}

button.dialog-button {
  min-width: 10px;
  padding: 4px;
}

.ReactTable .-filters .material-icons {
  font-size: 1.2em;
}

main {
  overflow-x: scroll;
}

main.main-content {
  padding: 65px 0 0 0
}

.ReactTable .rt-thead .rt-th {
  padding: 6px 3px;
}

.ReactTable .rt-td {
  padding: 5px 4px;
}

.rotated-headers .rt-thead.-headerGroups {
  margin-bottom: 125px;
}

.ReactTable .rt-thead.-headerGroups .rt-th {
  border-right: 1px solid rgba(0,0,0,0.15);
}

.ReactTable .rt-tbody .rt-td, .ReactTable .-filters .rt-th  {
  display: flex;
  align-items: center;
}

.ReactTable .-filters .rt-th {
  justify-content: center
}

/* .rotated-headers {
  margin-top: 150px;
} */

.rotated-headers .rt-table {
  overflow: visible;
}

.rotated-headers .rt-thead.-header {
 box-shadow: none;
 -webkit-box-shadow: none;
}

.rotated-headers {
  border: none;
}

.rotated-headers .rt-resizable-header-content {
  text-align: left;
  transform: translate3d(10px, 1px, 0) rotate(-45deg);
  width: 30px;
  transform-origin: left bottom;
  box-sizing: border-box;
}
/* in chrome, the last header is cut off. not sure why 
 * so remove transform
 */
.rotated-headers :last-of-type.rt-resizable-header .rt-resizable-header-content {
  transform: none;
}

.rotated-headers .rt-thead .rt-resizable-header-content {
  overflow: visible;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: none;
  outline: none
}

.ReactTable .rt-thead .rt-th:focus {
  outline: none;
}

.-sort-asc .rt-resizable-header-content::before {
  content: "\2b06";
  color: #ff6d00;
}

.-sort-desc .rt-resizable-header-content::before {
  content: "\2b07";
  color: #ff6d00;
}

.-pagination {
  position: fixed;
  width: 100%;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: rgba(255,158,64,0.7);
}

.ReactTable.-striped .rt-tr.-odd.-selected {
  background-color: rgba(255,158,64,0.2);
}
.ReactTable.-striped .rt-tr.-even.-selected {
  background-color: rgba(255,158,64,0.1);
}

a {
  color: #424242;
}

.hosts-current-table, .hosts-current-table .-pagination {
  max-width: 600px;
}

.compact li {
  padding-top: 0;
  padding-bottom: 0;
}

.gauge-wrapper {
  height: 5px;
  overflow: hidden;
  margin-bottom: 2px;
}

.gauge {
  background: linear-gradient(to right, green, yellow);
  width: 75px;
  height: 5px;
}

.region-col, .version-col {
  transform: translate3d(10px, 1px, 0) rotate(-60deg);
}

.region-col {
  text-indent: -5px;
}

/* icon checkmarks from https://codepen.io/jamesbarnett/pen/yILjk */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
label { font-size: 1em; }
input[type=checkbox] { display:none; }
input[type=checkbox] + label::before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label::before { content: "\f096"; } /* unchecked icon */
input[type=checkbox]:checked + label::before { content: "\f046"; } /* checked icon */
