PATH=/usr/local/bin:/usr/bin:/bin
APP_PATH=/Users/kbentrup/cloud/cloud-status/magento-cloud-manager/app/bin

# m h dom mon dow user   command

* * * * * date

# use perl sleep and rand functions to vary start times
# 900 s = 15 min, 7200 s = 2hrs, 14000 s ~ 4 hrs

# sample all envs' hosts for perf metrics 3x a wk
0 0 * * 1,3,5 perl -le 'sleep rand 900' && $APP_PATH/mcm hu -qa

# every 4 hr, sample a subset of envs (1 per host)
0 4,8,12,16,20 * * * perl -le 'sleep rand 14000' && $APP_PATH/mcm hu -qs
59 * * * * perl -le 'sleep rand 5' && $APP_PATH/mcm hu -vs 2>&1 > /tmp/mycron.log

# in case of env migration, rematch env and hosts every day
50 23 * * * perl -le 'sleep rand 14000' && $APP_PATH/mcm he -q

# more daily off peak tests spread over time
20 0 * * * perl -le 'sleep rand 900' && $APP_PATH/mcm pu -qa
40 0 * * * perl -le 'sleep rand 900' && $APP_PATH/mcm eu -qa

# check certs & redeploy expiring on Sat
0 1 * * 6 perl -le 'sleep rand 900' && $APP_PATH/mcm ec -qa
0 1 * * 6 perl -le 'sleep rand 900' && $APP_PATH/mcm er -qx

# delete inactive every day
0 1 * * 6 perl -le 'sleep rand 900' && $APP_PATH/mcm ed -q

# find failures every day
40 1 * * * perl -le 'sleep rand 900' && $APP_PATH/mcm af -q

